
<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">TRANSACTION</h4>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-body">
          <div class=" row">&nbsp;
            <h1  style="color:#fd5d93;margin-left:280px;">{{transactionStatus}}</h1></div>
        </div>
          <div class=" row">
            <h4 style="margin-left: 250px;">Sender </h4>
            <h4 style="margin-left: 150px;">&nbsp;  {{currentCustomer.name}}  </h4>
          </div>
          <div class=" row">&nbsp;</div>
          <div class=" row">
            <h4 style="margin-left: 250px;">Current Balance </h4>
            <h4 style="margin-left: 80px;">&nbsp;  {{currentCustomer.balance}}  </h4>
          </div>
          <div class=" row">&nbsp;</div>
          <div class=" row">
            <h4 style="margin-left: 250px;"> Receiver </h4>
            <select id='peeps' name='people' [(ngModel)]="receiverID" style="width:220px; margin-left: 160px;">
              <option *ngFor="let item of transactionCustomerList" [value]="item.id">
                {{item.name}}
              </option>
            </select>
          </div>
          <div class=" row">&nbsp;</div><div class=" row">&nbsp;</div>
          <div class=" row">
            <h4 style="margin-left: 250px;">Amount </h4>
            <input type="text" name="Amount" [(ngModel)]="amount" style="margin-left: 164px;width:220px;">
          </div >


          <div class=" row">&nbsp;</div><div class=" row">&nbsp;</div>
          <div class=" row">
            <button class="nav-item nav-link-edit" [routerLink]="['/user']" style="background-color:#fd5d93;border-color:#fd5d93;color:white;margin-left: 160px;width:220px">
              View Customer Information </button >

            <button class="nav-item nav-link-edit" (click)="transactNow()"
                    style="background-color:#fd5d93;border-color:#fd5d93;color:white;margin-left: 80px;width:220px ;height:60px">
              Transact Now </button >

            <button class="nav-item nav-link-edit" [routerLink]="['/tables']"
                    style="background-color:#fd5d93;border-color:#fd5d93;color:white;margin-left: 80px;width:220px">
              View All Customers </button >

          </div>
          <div class=" row">&nbsp;</div><div class=" row">&nbsp;</div>
          <div class=" row">&nbsp;</div><div class=" row">&nbsp;</div>

      </div>
    </div>
  </div>
</div>


